@import 'variables.scss';
@import 'entete.scss';
@import 'bio.scss';
@import 'experiences.scss';
@import 'formations.scss';
@import 'competences.scss';
@import 'contact.scss';

body{
    margin:0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #282828;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
    .hr{
        border-radius: 1px;
        width: 50%;
    }
}
