@media screen and (max-width: 768px) {
  .entete {
    background-color: #0094D7;
    text-align: center;
    background-image: url(../img/background.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; }
    .entete img {
      height: 100%;
      background-repeat: no-repeat;
      object-fit: contain; }
    .entete i {
      font-size: 40px;
      color: white; }
    .entete .code {
      position: absolute;
      color: white;
      top: 60%;
      left: 45%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation; }
    .entete .code div {
      width: 40px;
      height: 45px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
    .entete .database {
      position: absolute;
      color: white;
      top: 60%;
      left: 45%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation2; }
    .entete .database div {
      width: 40px;
      height: 45px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
    .entete .square {
      position: absolute;
      color: white;
      top: 60%;
      left: 45%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation3; }
    .entete .square div {
      width: 40px;
      height: 40px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
    .entete .mobile {
      position: absolute;
      color: white;
      top: 60%;
      left: 45%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation4; }
    .entete .mobile div {
      width: 40px;
      height: 40px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
    .entete .entete2 {
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      padding: 20px;
      width: 90%; }
      .entete .entete2 img {
        border-radius: 20px;
        background: green; }
      .entete .entete2 .infos {
        color: white;
        padding: 10px;
        margin: auto; }
        .entete .entete2 .infos h1 {
          font-size: 2em; }

  @keyframes rotation {
    from {
      -webkit-transform: rotate(0deg) translate(0px, -130px); }
    to {
      -webkit-transform: rotate(360deg) translate(0px, -130px); } }
  @keyframes rotation2 {
    from {
      -webkit-transform: rotate(0deg) translate(0px, 130px); }
    to {
      -webkit-transform: rotate(360deg) translate(0px, 130px); } }
  @keyframes rotation3 {
    from {
      -webkit-transform: rotate(0deg) translate(130px, 0px); }
    to {
      -webkit-transform: rotate(360deg) translate(130px, 0px); } }
  @keyframes rotation4 {
    from {
      -webkit-transform: rotate(0deg) translate(-130px, 0px); }
    to {
      -webkit-transform: rotate(360deg) translate(-130px, 0px); } } }
@media screen and (max-width: 1024px) and (max-height: 700px) and (orientation: landscape) {
  .code, .database, .square, .mobile {
    display: none; } }
@media screen and (min-width: 768px) {
  .entete {
    background-color: #0094D7;
    text-align: center;
    background-image: url(../img/background.jpg);
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; }
    .entete img {
      height: 100%;
      background-repeat: no-repeat;
      object-fit: contain; }
    .entete i {
      font-size: 40px;
      color: white; }
    .entete .code {
      position: absolute;
      color: white;
      top: 60%;
      left: 50%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation; }
    .entete .code div {
      width: 40px;
      height: 40px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
    .entete .database {
      position: absolute;
      color: white;
      top: 60%;
      left: 50%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation2; }
    .entete .database div {
      width: 40px;
      height: 40px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
    .entete .square {
      position: absolute;
      color: white;
      top: 60%;
      left: 50%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation3; }
    .entete .square div {
      width: 40px;
      height: 40px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
    .entete .mobile {
      position: absolute;
      color: white;
      top: 60%;
      left: 50%;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotation4; }
    .entete .mobile div {
      width: 40px;
      height: 40px;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: rotationi; }
  @keyframes rotation {
    from {
      -webkit-transform: rotate(0deg) translate(0px, -150px); }
    to {
      -webkit-transform: rotate(360deg) translate(0px, -150px); } }
  @keyframes rotation2 {
    from {
      -webkit-transform: rotate(0deg) translate(0px, 150px); }
    to {
      -webkit-transform: rotate(360deg) translate(0px, 150px); } }
  @keyframes rotation3 {
    from {
      -webkit-transform: rotate(0deg) translate(150px, 0px); }
    to {
      -webkit-transform: rotate(360deg) translate(150px, 0px); } }
  @keyframes rotation4 {
    from {
      -webkit-transform: rotate(0deg) translate(-150px, 0px); }
    to {
      -webkit-transform: rotate(360deg) translate(-150px, 0px); } }
    .entete .entete2 {
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      padding: 20px;
      width: 90%; }
      .entete .entete2 img {
        border-radius: 20px;
        background: green; }
      .entete .entete2 .infos {
        color: white;
        padding: 10px;
        margin: auto;
        font-size: 1.6em; } }
@keyframes rotationi {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(-360deg); } }
@media screen and (min-width: 768px) {
  .bio {
    width: 80%;
    margin: auto;
    padding: 50px; }
    .bio h3 {
      margin: 0; }
    .bio img {
      float: left;
      margin: 0 20px 20px 0;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .bio .infosidentite span {
      font-weight: bold; }
    .bio .histoire {
      text-align: justify; } }
@media screen and (max-width: 767px) {
  .bio {
    margin: auto;
    padding: 50px; }
    .bio h3 {
      margin: 0; }
    .bio img {
      left: 50%;
      transform: translate(-50%);
      position: relative;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
    .bio .infosidentite span {
      font-weight: bold;
      color: #022140; }
    .bio .histoire {
      text-align: justify; } }
@media screen and (min-width: 600px) {
  .experiences {
    text-align: center;
    position: relative; }
    .experiences #canvas {
      width: 100%;
      height: 100%;
      z-index: -10;
      position: absolute;
      right: 0;
      left: 0; }
    .experiences h1 {
      padding: 20px; }
    .experiences .timeline {
      margin: 0 auto;
      left: 0;
      top: 0; }
      .experiences .timeline:after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: #EBEBEB;
        top: 0;
        bottom: 0;
        left: 20%;
        margin-left: -3px; }
      .experiences .timeline .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%; }
        .experiences .timeline .container i {
          content: '';
          position: absolute;
          z-index: 1;
          left: -26px;
          top: 10px;
          font-size: 26px;
          background-color: white;
          color: #022140;
          padding: 10px; }
        .experiences .timeline .container .content {
          padding: 0px 30px;
          position: relative;
          border-radius: 6px;
          border: 4px solid #EBEBEB;
          text-align: left;
          background-color: white; }
          .experiences .timeline .container .content h2 {
            color: #0094D7;
            margin: 0; }
          .experiences .timeline .container .content .title {
            font-weight: bold; }
      .experiences .timeline .right {
        left: 20%; }
        .experiences .timeline .right::before {
          content: " ";
          height: 0;
          position: absolute;
          top: 22px;
          width: 0;
          z-index: 1;
          left: 30px;
          border: medium solid #EBEBEB;
          border-width: 10px 10px 10px 0;
          border-color: transparent #EBEBEB transparent transparent; }
        .experiences .timeline .right:after {
          left: -16px; } }
@media screen and (max-width: 600px) {
  .experiences {
    text-align: center; }
    .experiences #canvas {
      width: 100%;
      height: 100%;
      z-index: -10;
      position: absolute;
      right: 0;
      left: 0; }
    .experiences h1 {
      padding: 20px; }
    .experiences .timeline {
      position: relative;
      max-width: 1200px;
      margin: 0 auto; }
      .experiences .timeline .container {
        padding: 10px 40px; }
        .experiences .timeline .container i {
          font-size: 26px; }
        .experiences .timeline .container .content {
          padding: 0px 30px;
          border: 4px solid #EBEBEB;
          text-align: left;
          background-color: white; }
          .experiences .timeline .container .content h2 {
            color: #0094D7; } }
.formations {
  margin: 20px;
  font-size: 20px; }

.competences {
  text-align: center;
  padding-bottom: 50px; }
  .competences h1 {
    padding: 20px; }
  .competences .container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 20px; }
    .competences .container .content {
      display: flex;
      flex-direction: column;
      width: 80%;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
      .competences .container .content .skill {
        display: flex;
        justify-content: space-between; }
        .competences .container .content .skill .niveau {
          color: #0094D7; }
      .competences .container .content h3 {
        margin: 0;
        left: 0;
        color: #0094D7; }
    .competences .container i {
      font-size: 20px;
      color: #022140; }

@media screen and (max-width: 768px) {
  .competences .container .content {
    width: 90%; }
  .competences .container i {
    display: none; } }
@media screen and (min-width: 769px) {
  .competences .container i {
    margin: auto;
    width: 10%; } }
.contact {
  text-align: center;
  background-color: #022140; }
  .contact h1 {
    padding: 20px;
    color: white; }
  @media screen and (max-width: 768px) {
    .contact .infoscontacts {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contact .infoscontacts .content {
        width: 70%;
        color: white; }
        .contact .infoscontacts .content i {
          color: white; } }
  @media screen and (min-width: 768px) {
    .contact .infoscontacts {
      display: flex;
      justify-content: center; }
      .contact .infoscontacts .content {
        width: 70%;
        margin: 20px;
        color: white; }
        .contact .infoscontacts .content i {
          color: white; } }

body {
  margin: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #282828;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; }
  body .hr {
    border-radius: 1px;
    width: 50%; }

/*# sourceMappingURL=main.css.map */
